{% extends "base.html.twig" %}

{% block body %}
    <main class="containter">
        <ol>
            <div class="row-12 d-md-flex">
                <div class="col-3">
                    <img src={{movie.images.0.path}} height=250 width=auto></img>
                </div>
                <div class="col-3">
                    <div class="card-body">
                        <h5 class="card-title"><li>{{movie.title}}</li></h5>
                        <p class="card-text">
                        {% for theme in movie.themes %}
                            {{theme.name}}
                        {% endfor %}
                        </p>
                        <p class="card-text">Release date: {{movie.releaseDate | date('Y-m-d')}}</p>
                        <p class="card-text">Average review score: {{movie.grade}}</p>
                        <p class="card-text">{{movie.synopsis}}</p>
                        </p>
                    </div>
                    <div>
                        <h4>Casting</h4>
                        <p class="card-text">
                        {% for actor in movie.actors %}
                            {{actor.name}} {% if not loop.last %} — {% endif %}
                        {% endfor %}
                    </div>
                    <div>
                        <h4>Reviews</h4>
                        <p class="card-text">
                        {% for review in movie.reviews %}
                            <h3>{{review.grade}}/10</h3>
                            <h4>{{review.username}}</h4>
                            <p>{{review.comment}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </ol>
    </main>
{% endblock %}