{% extends "base.html.twig" %}

{% block body %}
    <main class="container">
        <ol>
            <div class="row-12 d-md-flex">
                <div class="col-3">
                    <img src={{movie.images.0.path}} height=250 width=auto>
                    {{ form_start(form) }}
                    {% if (favouriteExists) %}
                        {{ form_widget(form.movieId) }}
                    {% else %}
                        {{ form_widget(form.movieId, {'attr': {'value': movie.id}}) }}
                    {% endif %}
                    {{ form_widget(form.tvId) }}

                    {% if (favouriteExists) %}
                        {{ form_row(form.submit, {'label': 'Remove from favourites'}) }}
                    {% else %}
                        {{ form_row(form.submit, {'label': 'Add to favourites'}) }}
                    {% endif %}
                    {{ form_end(form) }}

                    {{ include('reviewForm.html.twig') }}
                </div>
                <div class="col-3">
                    <div class="card-body">
                        <h5 class="card-title"><li>{{movie.title}}</li></h5>
                        <p class="card-text">
                        {% for theme in movie.themes %}
                            {{theme.name}}
                        {% endfor %}
                        </p>
                        <p class="card-text">Release date: {{movie.releaseDate | date('Y-m-d')}}</p>
                        <p class="card-text">Average review score: {{movie.grade}}</p>
                        <p class="card-text">{{movie.synopsis}}</p>
                        </p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card-body">
                        <h4>Casting</h4>
                        <p class="card-text">
                        {% for actor in movie.actors %}
                            {{actor.name}} {% if not loop.last %} — {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-3">
                    <div class="card-body">
                        <h4>Reviews</h4>
                        <p class="card-text">
                        {% for review in movie.reviews %}
                            <h3>{{review.grade}}</h3>
                            <h4>{{review.username}}</h4>
                            <p>{{review.comment}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </ol>
    </main>
{% endblock %}