{% extends "base.html.twig" %}

{% block body %}

    <main class="container">
        {{ form_start(form) }}
        {{ form_widget({'attr': {'placeholder': 'Search for a movie'}}) }}
        {{ form_end(form) }}
        <ol>
            {% for movie in movies %}
                {% if loop.index0 is divisible by 2 %}
                    <div class="row-12 d-md-flex">
                {% endif %}
                        <div class="col-3">
                            <a href={{"http://127.0.0.1:8000/movie/" ~ movie.id}}><img src={{movie.images.0.path}} height=250 width=auto></img></a>
                        </div>
                        <div class="col-3">
                            <div class="card-body">
                                <h5 class="card-title"><li>{{movie.title}}</li></h5>
                                <p class="card-text">Release date: {{movie.releaseDate | date('Y-m-d')}}</p>
                                <p class="card-text">Average review score: {{movie.grade}}</p>
                            </div>
                        </div>
                {% if loop.index0 is not divisible by 2 %}
                    </div>
                {% endif %}
            {% endfor %}
            
        </ol>
    </main>
{% endblock %}